In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import dask
import re

pd.options.display.max_columns = 100

In [4]:
file_name = 'train_ver2.csv'
file_dir = './dataset/'

file_path = os.path.join(file_dir, file_name)

In [7]:
dataset = pd.read_csv(file_path)

In [43]:
dataset.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
fecha_dato               object
ncodpers                 int64
ind_empleado             object
pais_residencia          object
sexo                     object
age                      object
fecha_alta               object
ind_nuevo                float64
antiguedad               object
indrel                   float64
ult_fec_cli_1t           object
indrel_1mes              object
tiprel_1mes              object
indresi                  object
indext                   object
conyuemp                 object
canal_entrada            object
indfall                  object
tipodom                  float64
cod_prov                 float64
nomprov                  object
ind_actividad_cliente    float64
renta                    float64
segmento                 object
ind_ahor_fin_ult1        int64
ind_aval_fin_ult1        int64
ind_cco_fin_ult1         int64
ind_cder_fin_ult1        int64
ind_cno_fin_ult1         int64
ind_ctju_fin_ult1        int64
ind_ctma_fin_ult1        int64
ind_ctop_fin_ult1        int64
ind_ctpp_fin_ult1        int64
ind_deco_fin_ult1        int64
ind_deme_fin_ult1        int64
ind_dela_fin_ult1        int64
ind_ecue_fin_ult1        int64
ind_fond_fin_ult1        int64
ind_hip_fin_ult1         int64
ind_plan_fin_ult1        int64
ind_pres_fin_ult1        int64
ind_reca_fin_ult1        int64
ind_tjcr_fin_ult1        int64
ind_valo_fin_ult1        int64
ind_viv_fin_ult1         int64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1          int64
dtypes: float64(8), int64(23), object(17)
memory usage: 4.9+ GB

In [34]:
def null_counter(df):
    df = df.copy()
    columns = ['Feature', 'Null_Values']
    null_data = pd.DataFrame(df.isnull().sum().sort_values(ascending=False).reset_index())
    null_data.columns = columns
    null_data.set_index('Feature', inplace = True)
    return null_data

In [35]:
null_counter(dataset)

                       Null_Values
Feature
conyuemp                  13645501
ult_fec_cli_1t            13622516
renta                      2794375
segmento                    189368
canal_entrada               186126
tiprel_1mes                 149781
indrel_1mes                 149781
nomprov                      93591
cod_prov                     93591
sexo                         27804
tipodom                      27735
indresi                      27734
ind_actividad_cliente        27734
indfall                      27734
indext                       27734
ind_empleado                 27734
pais_residencia              27734
indrel                       27734
ind_nuevo                    27734
fecha_alta                   27734
ind_nomina_ult1              16063
ind_nom_pens_ult1            16063
ncodpers                         0
antiguedad                       0
age                              0
ind_recibo_ult1                  0
ind_ahor_fin_ult1                0
ind_aval_fin_ult1                0
ind_viv_fin_ult1                 0
ind_valo_fin_ult1                0
ind_tjcr_fin_ult1                0
ind_reca_fin_ult1                0
ind_pres_fin_ult1                0
ind_plan_fin_ult1                0
ind_hip_fin_ult1                 0
ind_fond_fin_ult1                0
ind_ecue_fin_ult1                0
ind_dela_fin_ult1                0
ind_deme_fin_ult1                0
ind_deco_fin_ult1                0
ind_ctpp_fin_ult1                0
ind_ctop_fin_ult1                0
ind_ctma_fin_ult1                0
ind_ctju_fin_ult1                0
ind_cno_fin_ult1                 0
ind_cder_fin_ult1                0
ind_cco_fin_ult1                 0
fecha_dato                       0